
body{
    background-image:url(backgroung-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    display:flex;
    padding-top: 1rem;
    height: 100vh;
}
.section-one{
    height: 600px;
    width: 470px;
    background: rgba(0, 0, 0, 0.338);
    position: absolute;
    justify-content: center;
    top: 4.5rem;
    left: 31.5rem;
}
.section-two {
    height: 600px;
    width: 470px;
    background-color: rgba(3, 63, 119, 0.55);
    justify-content: center;
    position: relative;
}
.mydstv{
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    bottom: 5rem;
    left: 7rem;
}

img{
width: 250px;
height: 300px;
}
.para-1{
display: block;
justify-content: center;
position: relative;
bottom: 13rem;
}

.sign-in{
    background-color: #28b8f1b7;
    border-radius: 50px 50px 50px 50px;
    width: 200px;
    height: 40px;
    border-color: #28b8f1b7;
    color: gainsboro;
    position: relative;
    bottom: 12rem;
    outline: none;
}

input[type="checkbox"] {
width: 2em;
height: 2em;
accent-color:rgb(100, 100, 100);
position: relative;
left: 20px;
box-shadow: 0px 0px 5px rgba(66, 133, 244, 0.5);
}

option{
    background-color: #ffff;
    color: black;
    text-align: center;
}

#label{
font-size: large;
color: white;
position: relative;
bottom:7px;
left: 20px;
}

.form{
    position:relative;
    bottom:11rem;
    justify-content: center;
    left: 2rem;
}

.box-space1{
    background-color: #d6d4f17b;
    border-radius: 50px 50px 50px 50px;
    width: 350px;
    height: 40px;
    border-color: #d6d4f17b;
    outline: none;
    position: absolute;
}
.box-space2{
    background-color: #d6d4f17b;
    border-radius: 50px 50px 50px 50px;
    width: 350px;
    height: 35px;
    border-color: #d6d4f17b;
    outline: none;
    position: absolute;
    right: 6rem;
}

p{
    text-align: center;
    color: white;
    font-size: larger;
    font-family: sans-serif;
}
strong{
    font-weight: bolder;
}
::placeholder{
color: white;
font-weight: 600px;
font-size: 15px;
position: relative;
left: 60px;
}

select{
color: white;
font-weight: 600;
font-size: 15px;
}
.fa-location-dot, .fa-server, .fa-user-plus{
    position: relative;
    left: 1.6rem;
    top: 0.65rem;
}
.fa-circle-info{
    position: relative;
    left: 19.6rem;
    top: 0.65rem;
}
.fa-angle-right{
    position: relative;
    bottom: 10.85rem;
    right: 1.5rem;
}
